
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Outfit:wght@100..900&display=swap');

.titleab {
padding: 30px;
padding-bottom: 30px;
background-color: #ADD8E6;
text-align: center;
text-decoration: wavy;
height: auto;
width: auto;
font-size: 60px;

}

.h1ab {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 48px;
  }
  
.buttonab {
  background-color: #ADD8E6 ;
  color: #FFFFFF;
  border: 5px #00008B;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: center;
  
}

.divab{
  background-color: #D3D3D3;
  padding: 20px;
  color: #8A9A5B;
  font-weight: 400;
  font-style: normal;
  line-height: 1;


  
}

.imgab {
  text-align: center;
}