
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Outfit:wght@100..900&display=swap');

.bodyab{
  background-color: #D3D3D3;
}


.titleab {
padding: 30px;
padding-bottom: 30px;
background-color: #ADD8E6;
text-align: center;
text-decoration: wavy;
height: auto;
width: auto;
font-size: 60px;
border: #00008B;

}

.h1ab {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 48px;

  }
  
.buttonab {
  background-color: #303e43 ;
  color: #FFFFFF;
  border: 5px #00008B;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: center;
  
}

.divab{
  background-color: #b6b0b0;
  padding: 20px;
  color: #10110e;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  border-radius: 2cm;
  padding: 20px;
  text-transform: uppercase;



  
}

.imgab {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #D3D3D3;
}
.flex-item {
  background-color: #D3D3D3;
  padding: 20px;
  margin: 10px;
 
  border-radius: 10px;
  text-align: center;
  flex: 1;
}