
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e3f2fd; 
    color: #455a64; 
    line-height: 1.6;
    padding: 20px;
}

.navbar {
    background-color: #64b5f6; 
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: #ffffff; 
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.navbar a:hover {
    color: #bbdefb; 
}

h1, h2 {
    color: #4fc3f7; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

p {
    margin: 20px 0;
    font-size: 1.1em;
    color: #546e7a; 
}


.letter1.jpg , .question1.jpg{
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
}

.btn {
    display: inline-block;
    background-color: #81d4fa; 
    padding: 12px 25px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #b3e5fc; 
    color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}


footer {
    background-color: #64b5f6; 
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 40px;
}

footer a {
    color: #e1f5fe; 
}

footer a:hover {
    color: #ffffff;
}



