
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #0d1b2a;
    background-image: url('background.jpg'); 
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: linear-gradient(135deg, #1f4068, #162447);
    color: #fff;
    padding: 40px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 3em;
    text-shadow: 3px 3px 5px #000;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5em;
    color: #d4d4d4;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #1b263b, #0d1b2a);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}

.hero img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.hero h2 {
    margin: 20px 0;
    font-size: 2.5em;
    color: #00d4ff;
    text-shadow: 2px 2px 4px #000;
}

.hero p {
    font-size: 1.3em;
    margin-bottom: 30px;
    color: #b0bec5;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background: #00aaff;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 170, 255, 0.5);
    transition: background 0.3s, transform 0.3s;
    font-size: 1.2em;
    text-transform: uppercase;
}

.cta-button:hover {
    background: #008ecc;
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 170, 255, 0.7);
}

.features {
    padding: 40px;
    background: #162447;
    text-align: center;
}

.features h2 {
    margin-bottom: 30px;
    font-size: 2.5em;
    color: #00d4ff;
    text-shadow: 2px 2px 4px #000;
}

.features ul {
    list-style: none;
}

.features li {
    font-size: 1.5em;
    margin: 15px 0;
    color: #d4d4d4;
    text-shadow: 1px 1px 3px #000;
}

footer {
    background: #1f4068;
    color: #b0bec5;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.5);
}

.gallery {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .gallery h2 {
    margin-top: 0;
  }
  
  .image-container {
    margin-bottom: 20px;
  }
  
  .gallery-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .image-container p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    height: auto;
    padding: 1em 0;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.4em 1.6em;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }